 <!-- ======= Resume Section ======= -->
    
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Programmer experienced in data processing, analysis and visualization, forecasts and simulations. Excellent oral, written communication skills and customer care skills.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Benny Bbay</h4>
              <p><em>Innovative and deadline-driven programmer with 3+ years of experience designing and developing user-centered while worked on any projects and internship.</em></p>
              <ul>
                <li>12 cal,Barrie, ON</li>
                <li>(123) 456-7891</li>
                <li>Benny.Baby@MyGeorgianc.ca</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>3rd year Computer Science</h4>
              <h5>2020 - 2023</h5>
              <p><em>Georgian College, Barrie, ON</em></p>
              <p></p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
              <h5>2010 - 2014</h5>
              <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
              <p>In this program, students focus on computer programming, web development and leveraging data to help organizations make meaningful business decisions. Throughout the program, students learn how to write code using a variety of languages such as Arduino, ASP.NET, C#, C++, Java, JavaScript, PHP, SQL and Swift. Students gain experience developing software for diverse platforms including embedded systems, desktop, mobile, and mainframe systems. In addition, students are exposed to advanced concepts including systems analysis, Business Intelligence (BI), application security, data structures, and game and simulation programming. With a strong emphasis on business and entrepreneurial values, students gain experience in problem-solving, troubleshooting and systems building through a series of applied assignments, projects, and co-op work terms</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Developer Intership</h4>
              <h5>2019 - 2020</h5>
              <p><em>Delhi, India </em></p>
              <ul>
                <li>worked in the design, development, and implementation of the programming, layout, and production communication materials</li>
                <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
                <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
               
              </ul>
            </div>
            
          </div>
        </div>

      </div>
   <!-- End Resume Section -->